# **Type Casting**

## 1. int to float

In [4]:
age_int = 28
age_float = float(age_int)
print(type(age_int))
print(age_int)
print(type(age_float))
print(age_float)

<class 'int'>
28
<class 'float'>
28.0

## 2. float to int

In [9]:
price = 28.0
price_int = int(price)
print(type(price_int))

<class 'int'>

## 3. int, float to **string**

In [10]:
number_int = 89
number_float = 89.5

In [11]:
number_int = str(number_int)
number_float = str(number_float)

## 4. string to int, float

In [12]:
value = "100"
value_int = int(value)
value_float = float(value)

## 5. List to tuple AND tuple to list

In [1]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
print(type(my_list))
print(type(my_tuple))
#  changing them
list_to_tuple = tuple(my_list)
tuple_to_list = list(my_tuple)
print(type(list_to_tuple))
print(type(tuple_to_list))

<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>

## 6. list to set AND set to list

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_to_set = set(my_list)
print(type(list_to_set))
my_set = {1, 2, 3, 4, 5} 
set_to_list = list(my_set)
print(type(set_to_list))

<class 'set'>
<class 'list'>

## 7. to bool

> If the datatype have value it will be true, if the variable have null value it will be false

In [5]:
number = 5
number = bool(number)
print(type(number))
print(number)
empty_list = []
empty_list = bool(empty_list)
print(type(empty_list))
print(empty_list)

<class 'bool'>
True
<class 'bool'>
False

# comments

In [6]:
variable = "Hello"# this is the variable
variable = bool(variable)
print(type(variable))

<class 'bool'>