# Functions

Built in Functions

In [2]:
prices = [200,300,400,799]
print(200+300+400+799)
sum(prices)

1699

1699

In [3]:
max(prices)

799

In [4]:
min(prices)

200

In [5]:
mean(prices)

NameError: name 'mean' is not defined

In [7]:
mean = sum(prices) / len(prices)
print(mean)

424.75

# User Defined Functions

In [12]:
def greet(name):
    print("Hello " + name + " Assalamualaikum!")

In [13]:
greet("Ahsan")

Hello Ahsan Assalamualaikum!

## Define mean funnction

In [25]:
def mean_of_list(numbers):
    """
    This function takes a list of numbers and returns the mean of those numbers.
    """
    sum_of_numbers = sum(numbers)
    lenth_of_numbers = len(numbers)
    # return the mean and round it off to 2 decimal places
    mean = sum_of_numbers/ lenth_of_numbers
    return round(mean, 3)

In [26]:
prices = [200, 3001, 400, 799]
mean_of_list(prices)

1100.0

> ***docstring***

In [28]:
?mean_of_list

Signature: mean_of_list(numbers)
Docstring: This function takes a list of numbers and returns the mean of those numbers.
File:      c:\users\ahsan\appdata\local\temp\ipykernel_12960\4181559602.py
Type:      function

In [29]:
def add(a,b):
    """
    This function takes two numbers and returns their sum.
    """
    addition = a + b
    return addition

In [30]:
add(2, 3)

5

### function for three parameters

In [35]:
def add(a,b,c):
    """
    This function takes two numbers and returns their sum.
    """
    addition = a + b +c
    return addition

In [36]:
add(2, 3 , 4)

9

In [ ]:
def add_dynamic(*args):
    """
    This function takes a variable number of arguments and returns their sum.
    """
    
    return sum(args)

In [38]:
add_dynamic(2, 3, 4, 5, 6)

20

### Introduce Function

In [44]:
def introduce(name, age, city):
    """
    This function takes a name, age, and city and returns a formatted string.
    """
    print("Hello, My name is "+ name + ", I am "+ str(age)+" years old and  I live in "+ city+".")

> By using str(age) we concatenate the age in string.

In [46]:
introduce("Ahsan", "twenty", "Karachi")

Hello, My name is Ahsan, I am twenty years old and  I live in Karachi.

### Function witout  parameters

In [47]:
def say_hello():
    """
    This function prints a greeting message.
    """
    print(" Hello, I am Ahsan, I am a software engineer and I love to code.")

In [48]:
say_hello()

 Hello, I am Ahsan, I am a software engineer and I love to code.

In [54]:
def say_hello(name):
    """
    This function prints a greeting message with the given name.
    """
    print(" Hello, I am "+ name+ ", I am a software engineer and I love to code.")

In [55]:
say_hello("Ahsan")

 Hello, I am Ahsan, I am a software engineer and I love to code.

### Default parameter

In [56]:
def greet(name = "Ahsan"):
    """
    This function prints a greeting message with the given name.
    If no name is provided, it defaults to "Ahsan".
    """
    print("Hello " + name + ", Assalamualaikum!"    )

In [57]:
greet("Ali")
greet()  # This will use the default name "Ahsan"

Hello Ali, Assalamualaikum!
Hello Ahsan, Assalamualaikum!